@import url('https://fonts.googleapis.com/css2?family=Jost&family=Quicksand&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply m-0 font-quicksand bg-dark-blue text-white;
  }
}

@layer components {
  .font-big {
    @apply font-jost text-5xl font-bold tracking-wider;
  }

  .active {
    @apply text-red-accent bg-darker-blue font-semibold transition-transform duration-200 scale-110;
  }
  
  .animate-charcter {
    background-image: linear-gradient(-225deg,#ffffff,#E43F5A,#E43F5A,#ffffff);
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
  }

  .profile-img {
    @apply rounded-full border-5 border-red-accent max-w-xs h-auto mt-12;
  }

  .ls-2 {
    @apply tracking-wider;
  }

  .mw-fc {
    @apply max-w-fit;
  }

  .blue-label {
    @apply bg-navy-blue w-max px-2 py-1;
  }

  .portfolio-link:hover {
    @apply bg-red-accent transition-colors duration-300;
  }
}

/* Custom border width that isn't in Tailwind by default */
.border-5 {
  border-width: 5px;
}

/* Some custom selectors that are hard to do in pure Tailwind */
li::marker {
  color: #E43F5A;
  font-size: 2em;
}